@model Services.AggregateModel.ForgotPasswordModel
@{
    ViewBag.Title = "Login Page";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <a href="@Url.Action("Index","ClientHome")"><b>Resume</b>PORTAL</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Enter your username/email. We will send you an email.</p>
        <form action="@Url.Action("ForgotPassword","Login")" method="post">
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Email / Username" })
                @*<input type="email" class="form-control" placeholder="Email">*@
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-4">
                    @*<button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>*@
                    <button class="btn btn-primary btn-block btn-flat">Reset</button>
                </div>

                <!-- /.col -->
            </div>
            <div style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                @if (ViewBag.Message != null)
            { <span>@ViewBag.Message</span>}
            </div>
        </form>
        @*<div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fa fa-facebook"></i> Sign in using
                    Facebook
                </a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fa fa-google-plus"></i> Sign in using
                    Google+
                </a>
            </div>*@
        <!-- /.social-auth-links -->
        @*<a href="#">I forgot my password</a><br>*@
    </div>
    <!-- /.login-box-body -->
</div>
@*@section scripts{
    <script>
        $(document).ready(function () {
            alert('Ready');
        })
    </script>
}*@